@import url("https://fonts.googleapis.com/css?family=Montserrat:300");
body {
  font-family: "Montserrat";
  margin: 0; }

header {
  background: url(../images/paint-background.jpg) no-repeat fixed center;
  background-size: cover;
  border-bottom: 1px solid #f1f1f1;
  padding: 40px 10%;
  height: 100vh;
  color: white; }
  header .header-text {
    display: flex;
    justify-content: space-between; }
    header .header-text #name {
      font-size: 40px; }
    header .header-text #hamburger {
      display: flex;
      flex-direction: column;
      justify-content: center;
      cursor: pointer; }
      header .header-text #hamburger span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: #cdcdcd;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease; }
      header .header-text #hamburger span:first-child {
        transform-origin: 0% 0%; }
      header .header-text #hamburger span:nth-last-child(2) {
        transform-origin: 0% 100%; }
      header .header-text #hamburger.open span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #232323; }
      header .header-text #hamburger.open span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2); }
      header .header-text #hamburger.open span:nth-last-child(2) {
        opacity: 1;
        transform: rotate(-45deg) translate(0, -1px); }
  header .arrow a {
    position: absolute;
    bottom: 20px;
    left: 50%;
    padding-top: 60px;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #fff;
    font: normal 400 20px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s; }
    header .arrow a span {
      position: absolute;
      top: 0;
      left: 50%;
      width: 46px;
      height: 46px;
      margin-left: -23px;
      border: 2px solid #fff;
      border-radius: 100%;
      box-sizing: border-box; }
    header .arrow a span::after {
      position: absolute;
      top: 50%;
      left: 50%;
      content: '';
      width: 16px;
      height: 16px;
      margin: -12px 0 0 -8px;
      border-left: 2px solid #fff;
      border-bottom: 2px solid #fff;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      box-sizing: border-box; }
  header .arrow a:hover {
    opacity: .5; }
  header nav {
    display: none;
    float: right; }
    header nav ul {
      text-align: right; }
      header nav ul li {
        font-size: 3vh;
        display: inline-block;
        padding: 0 15px; }
        header nav ul li a {
          text-decoration: none;
          transform: translateX(-50%) translateY(-50%);
          padding: 10px;
          transform-origin: 50% 50%;
          border: 2px solid transparent;
          transition: all .2s ease-in;
          color: black; }
        header nav ul li a:visited {
          color: #fff; }
        header nav ul li a:hover {
          padding: 10px;
          text-decoration: none;
          color: #999999;
          border-bottom: 1px solid #999999;
          text-shadow: none; }
        header nav ul li a:active {
          color: black; }
    header nav.open {
      display: block; }

main {
  padding: 0 5%; }
  main #about {
    height: 100vh;
    max-height: 800px; }
    main #about #about-header {
      text-align: center;
      font-size: 40px;
      padding-top: 5%; }
    main #about #about-content {
      display: flex;
      align-items: center;
      height: 75%;
      max-height: 800px; }
      main #about #about-content .text-box {
        width: 49%; }
        main #about #about-content .text-box p {
          font-size: 20px;
          line-height: 1.7;
          padding: 4%; }
      main #about #about-content .about-pic {
        width: 50%; }
        main #about #about-content .about-pic img {
          width: 70%;
          display: block;
          margin: 0 auto; }
    main #about .arrow {
      position: relative;
      height: 100px; }
      main #about .arrow a {
        position: absolute;
        bottom: 20px;
        left: 50%;
        padding-top: 60px;
        z-index: 2;
        display: inline-block;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        color: #000;
        font: normal 400 20px/1 'Josefin Sans', sans-serif;
        letter-spacing: .1em;
        text-decoration: none;
        transition: opacity .3s; }
        main #about .arrow a span {
          position: absolute;
          top: 0;
          left: 50%;
          width: 46px;
          height: 46px;
          margin-left: -23px;
          border: 2px solid #000;
          border-radius: 100%;
          box-sizing: border-box; }
        main #about .arrow a span::after {
          position: absolute;
          top: 50%;
          left: 50%;
          content: '';
          width: 16px;
          height: 16px;
          margin: -12px 0 0 -8px;
          border-left: 2px solid #000;
          border-bottom: 2px solid #000;
          -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
          box-sizing: border-box; }
      main #about .arrow a:hover {
        opacity: .5; }
    @media (max-width: 600px) {
      main #about #about-content {
        display: block;
        height: 100%; }
        main #about #about-content .text-box {
          width: 100%; }
          main #about #about-content .text-box p {
            font-size: 14px;
            margin: 40px 0; }
        main #about #about-content .about-pic {
          width: 100%; }
          main #about #about-content .about-pic img {
            width: 90%; }
      main #about .arrow {
        display: none; } }
  main #work-header {
    text-align: center;
    font-size: 40px;
    margin-bottom: 70px; }
  main #work-list .work-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 400px;
    grid-gap: 25px;
    grid-auto-flow: dense;
    grid-auto-rows: minmax(60px, auto); }
    main #work-list .work-row .work-image {
      position: relative; }
      main #work-list .work-row .work-image img {
        width: 100%;
        max-width: 500px;
        display: block;
        margin: 0 auto; }
    main #work-list .work-row .work-text {
      margin: 0 auto;
      padding: 35px 0; }
      main #work-list .work-row .work-text a {
        text-decoration: none;
        font-size: 30px;
        color: black; }
      main #work-list .work-row .work-text span {
        position: relative; }
    main #work-list .work-row.row-odd .work-image {
      grid-column: 1; }
    main #work-list .work-row.row-odd .work-text {
      grid-column: 2; }
    main #work-list .work-row.row-even .work-image {
      grid-column: 2; }
    main #work-list .work-row.row-even .work-text {
      grid-column: 1; }
    @media (max-width: 600px) {
      main #work-list .work-row {
        display: block; }
        main #work-list .work-row .work-text {
          text-align: center;
          margin: 15px auto 40px; } }

/*--------- index images/old code ----------*/
.photo-grid {
  margin: 1em auto;
  max-width: 1106px;
  text-align: center; }

.photo-grid li {
  display: inline-block;
  margin: 1em; }

.photo-grid img {
  display: block;
  max-width: 100%;
  border-radius: 50%;
  border-radius: 50%;
  height: auto;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms; }

.photo-grid figure {
  height: 200px;
  overflow: hidden;
  position: relative;
  width: 200px; }

.photo-grid figcaption {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  display: table;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;
  border-radius: 50%; }

.photo-grid figcaption p {
  display: table-cell;
  font-size: 1.5em;
  position: relative;
  top: -40px;
  width: 289px;
  vertical-align: middle;
  border-radius: 50%; }

.photo-grid li:hover figcaption {
  opacity: 1;
  border-radius: 50%; }

.photo-grid figcaption p {
  display: table-cell;
  font-size: 2.5em;
  position: relative;
  top: -40px;
  width: 289px;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  vertical-align: middle; }

.photo-grid li:hover figcaption p {
  -moz-transform: translateY(40px);
  -webkit-transform: translateY(40px);
  transform: translateY(40px); }

.photo-grid figcaption {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  display: table;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
  -webkit-transition-delay: 100ms;
  -moz-transition-delay: 100ms;
  transition-delay: 100ms;
  z-index: 100; }

/*---------- end of images ----------*/
footer {
  background: url(../images/paint-background.jpg) no-repeat fixed center;
  background-size: cover;
  bottom: 10px;
  margin: 0 auto;
  padding: 40px 10px;
  text-align: center;
  height: 80px; }
  footer a {
    margin: 0 15px; }

/*# sourceMappingURL=main.css.map */
