//// colors ////
$black: #181919;
$white: #ffffff;

$gold: #9e9668;
$teal: #26c088;
$lightGrey: #f1f1f1;
$grey: #adadad;
$hoverGrey: #c8c7c7;

$lipstick: #d7252c;

//// breakpoint vars ////
$large: 1200px;
$medium: 840px;
$small: 600px;
$xsmall: 480px;

//// Breakpoints ////

$large-over: 1201px;
$large-under: (max-width $large);

$medium-over: 841px;
$medium-under: (max-width $medium);

$small-over: $small;
$small-under: (max-width: $small);

$xsmall-over: 480px;
$xsmall-under: (max-width $xsmall);

//// header vars ////
$header_height_desktop: 100px;
$header_height_small: 158px;

@mixin headerMarginHeight() {
	margin-top:$header_height_desktop;
	@include breakpoint($small-under) {
		margin-top:$header_height_small;
	}
}

