html {
font-family: 'Scheherazade', serif;
}

body {
  margin: 0;
}

header {
  border-bottom: 1px solid #dedede;
  padding: 10px;
  clear: both;
  overflow: auto;
  
}

header h1 {
  text-align: left;
}

#logo {
  float: left;
}

nav {

  display: block;
  float: right;
}

nav ul{
  text-align: right;
}

nav ul li {
  font-size: 3vh;
  color: #404040;
  display: inline-block;
  padding: 0 15px;
}

nav ul li a {
  text-decoration:none;
  transform: translateX(-50%) translateY(-50%);
  padding: 10px;
  transform-origin: 50% 50%;
  border: 2px solid transparent;
  transition: all .2s ease-in;
  color: black;
}

nav ul li a:visited {
  color:#404040;
}

nav ul li a:hover {
padding: 10px;
text-decoration:none;
color: #999999;
border-bottom: 1px solid #999999;
text-shadow: none;
}

nav ul li a:active {
  color:black;
}


#intro{
  padding-top: 80px;
  text-align: center;
  font-size: 30px;
  color: #404040;
  margin-bottom: 30px;
}

#intro span{
  color: #9e9668;
}

/*--------- index images ----------*/

.photo-grid {
  margin: 1em auto;
  max-width: 1106px;
  text-align: center;
}

.photo-grid li {
  display: inline-block;
  margin: 1em;
}

.photo-grid img {
  display: block;
  max-width: 100%;
  border-radius: 50%;
  border-radius: 50%;
  height: auto;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
}

.photo-grid figure {
  height: 200px;
  overflow: hidden;
  position: relative;
  width: 200px;
}

.photo-grid figcaption {
  background: rgba(0,0,0,0.8);
  color: white;
  display: table;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;
  border-radius: 50%;
}

.photo-grid figcaption p {
  display: table-cell;
  font-size: 1.5em;
  position: relative;
  top: -40px;
  width: 289px;
  vertical-align: middle;
  border-radius: 50%;
}

.photo-grid li:hover figcaption {
  opacity: 1;
  border-radius: 50%;
}

.photo-grid figcaption p {
  display: table-cell;
  font-size: 2.5em;
  position: relative;
  top: -40px;
  width: 289px;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  vertical-align: middle;
}

.photo-grid li:hover figcaption p {
  -moz-transform: translateY(40px);
  -webkit-transform: translateY(40px);
  transform: translateY(40px);
}

.photo-grid figcaption {
  background: rgba(0,0,0,0.8);
  color: white;
  display: table;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
  -webkit-transition-delay: 100ms;
  -moz-transition-delay: 100ms;
  transition-delay: 100ms;
  z-index: 100;
}

/*---------- end of images ----------*/

#about-me {
  text-align: center;
  width: 100%;
  background-color: #EFEFEF;
  font-size: 4vh;
  padding: 40px 0;
}

#about-me span{
  color: #9e9668;
  border-bottom: 1px solid #9e9668;
  margin-bottom: 40px;
}

.blurb {
  width: 65%;
  margin: 0 auto;
  padding: 50px 0;
}

section {
  position: static;
}

.left {
  margin-left: 20px;
  margin-top: 5em;
  position: relative;
  width: 45%;
  height: 100%;
  float:left;
  text-align: right;
}

.right{
  margin-top: 5em;
  position: relative;
  border-left: 1px solid #dedede;
  width: 50%;
  padding-left: 15px;
  float: right;
  text-align: left;
}

#break {
  margin-top: 5em;
}

.tech-post {
  padding: 15px;
  margin: 15px;
}

footer {
   padding: 40px 10px;
   text-align: center;
   height:80px;
   width:100%;
}
#connect a{
  margin: 0 15px;
}

#connect div{
  text-align: center;
}

#connect span{
  margin:0 auto;
  color: #9e9668;
  border-bottom: 1px solid #9e9668;
  font-size: 4vh;
}

/*--------------Yoga blog ----------------*/

.container {
  min-height: 100%;
  text-align: center;
  width: 100%;
  background-color: #EFEFEF;
  font-size: 4vh;
  padding: 40px 0;
}

.container span{
  color: #9e9668;
  border-bottom: 1px solid #9e9668;
  margin-bottom: 40px;
}

#yoga-intro{
  margin-bottom: 30px;
  padding-top: 80px;
  text-align: center;
  font-size: 30px;
  color: #404040;
}

#yoga-intro span{
  color: #9e9668;
}
#yoga-intro img{
  margin: 15px 0;
}

#posts {
  text-align: left;
  margin: 0 auto;
  width: 80%;
}
#posts a{
  text-decoration: none;
  color: #404040;
}
#posts a:visited{
  color: #404040
}
#posts a{
  text-decoration: none;
}
#posts ul li{
  width: 69%;
  margin: 0 auto;
  padding:0 20px;
  list-style: none;
  border: 1px solid #dedede;
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(0,0,0, 0.6);
}

#posts ul li h4{
  margin: 0 !important;  
}

#posts ul li p{
  margin: 0 !important; 
  font-size: 2vh; 
}
.post-header{
  width: 100%;
}
.post-header h4{
  font-size: 26px;
}
.post-intro{
  display: inline-flex;
  margin:10px 0;
  width: 100%;
}
.post-intro div {
  display: inline-block;
}
.post-intro-text{
  width: 100%;
  font-size: 3vh;
}

.post {
  width: 100%;
  background-color: #EFEFEF;
  padding: 40px 0;
}
.post-title, .post-date{
  margin-left: 10%;
  color: #9e9668;
}
.post-title span{
  border-bottom: 1px solid #9e9668;
  font-size: 5vh;
}
.post-image{
  margin: 0 auto;
  text-align: center;
}
.post-body {
  width: 80%;
  margin: 0 auto;
  text-align: left;
}
.post-body p {
  font-size: 4vh;
}