html {
  background: #F0F0F5;
  font-family: Palatino, serif;
}

header {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #dedede;
}

nav {
  border-bottom: 1px solid #dedede;
  display: block;
}

nav ul{
  text-align: center;
}

nav ul li {
  display: inline-block;
  padding: 0 25px;
}

main {
  margin-left: 25%;
}

table td {
  text-align: center;
  padding: 5px 15px;
  margin-left: auto;
  margin-right: auto;
}


footer {
   position:relative;
   padding: 10px 0px;
   left:10px;
   bottom:10px;
   top:10px;
   height:50px;
   width:100%;
   border-top: 1px solid #dedede;
   border-bottom: 1px solid#dedede;
}
