html {
  background: #FDFDFF;
  font-family: Palatino, serif;
}

header {
  background: #FDFDFF;
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #dedede;
}

nav {
border-bottom: 1px solid #dedede;
display: block;
}

nav ul{
  text-align: center;
}

nav ul li {
display: inline-block;
padding: 0 25px;
}

main {
  margin: 25px;
  text-align: left;
  margin-left: 20px;
  display: absolute;
}


footer {
   position:relative;
   padding: 10px 0px;
   left:10px;
   bottom:10px;
   top:10px;
   height:50px;
   width:100%;
   border-top: 1px solid #dedede;
   border-bottom: 1px solid#dedede;
}
